[submodule "site-lisp/pylookup"]
	path = site-lisp/pylookup
	url = https://github.com/tsgates/pylookup
[submodule "site-lisp/lua-eldoc-mode"]
	path = site-lisp/lua-eldoc-mode
	url = https://github.com/rolpereira/lua-eldoc-mode
